---

---
<div transition:animate="slide" class="nav-links">
    <a class="text-sm hover:rounded-md " href="/">Inicio</a>	
    <a class="text-sm hover:rounded-md " href="/about/" data-astro-reload>Sobre mi</a>
    <a class="text-sm hover:rounded-md " href="/blog/">Blog</a>    
    <a class="text-sm hover:rounded-md " href="/tags/">Tags</a>
</div>

<style>
    a{
        padding: 1em;
        margin:1em;
        text-decoration: none;
        font-weight: 500;
    }
</style>