---

---
<div class="nav-links">
    <a href="/">Inicio</a>	
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>    
    <a href="/tags/">Tags</a>
</div>

<style>
    a{
        padding: 1em;
        margin:1em;
        text-decoration: none;
        font-weight: 500;
    }
</style>